/* 컨테이너: 748 * 545 
    헤더이미지: 436 * 204 / 188 * 88
    박스1: 360 * 545
    박스2: 360 
    1번 음료수: 306 * 272
    2번 메뉴,돈: 306 * 194
    3번 소지금:306 * 32
    4번  획득: 306 * 364
*/

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

/* layout */
.banner-wrap {
  max-width: 436px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.banner img {
  max-width: 436px;
  aspect-ratio: 436 / 204;
}
.banner {
  margin-top: 44px;
}

.wrap {
  margin-top: 50px;
  max-width: 748px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(317px, 360px));
  grid-template-rows: 50px 1fr;
  gap: 20px;
}

.cola-wrap {
  grid-row: 1/3;
}

.cola-wrap,
.menu-wrap {
  max-height: 569px;
  padding: 31px 27px 28px 27px;
}

.order-list {
  max-height: 106px;
}

.money-wrap {
  padding: 9px 27px;
}

.beverages-list.order-list {
  max-height: 389px;
}

.beverages-list li:last-child {
  margin-bottom: 150px;
}

@media (501px <= width <= 767px) {
  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .wrap {
    grid-template-columns: 1fr;
    margin-top: 180px;
  }

  .banner-wrap {
    max-width: 288px;
  }

  .banner img {
    max-width: 288px;
    aspect-ratio: 2 / 1;
  }
}

@media (max-width: 500px) {
  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .wrap {
    grid-template-columns: 1fr;
    margin-top: 80px;
    gap: 20px;
  }

  .banner-wrap {
    max-width: 188px;
  }
  .banner img {
    max-width: 188px;
    aspect-ratio: 188 / 88;
  }

  .cola-wrap {
    padding: 31px 27px 0 27px;
  }

  .menu-wrap {
    padding: 0px 27px 0 27px;
  }

  .deposit {
    padding: 6px 10px;
  }

  .deposit::placeholder {
    float: right;
  }

  .money {
    margin-bottom: 9px;
  }
}

/* 높이 레이아웃 */

@media (max-height: 900px) {
  html {
    overflow: auto;
  }

  body {
    display: block;
  }

  .banner-wrap {
    position: static;
  }

  .wrap {
    margin: auto;
  }
}
