/* style */

:root {
  --background-color: #eae8fe;
  --border-color: #bdbdbd;
  --point-color: #6327fe;
  --box-shadow: rgba(0, 0, 0, 0.5);
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  background: var(--background-color);
  overflow-y: scroll;
}

button {
  font-weight: 500;
  color: #000;
}

/* 스크롤바 스타일 */
body::-webkit-scrollbar,
.order-list::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track,
.order-list::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb,
.order-list::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 50px;
}

.cola-wrap,
.menu-wrap {
  background: white;
  box-sizing: border-box;
}

.cola-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

[class^="coke"] {
  box-shadow: 0px 0px 4px var(--box-shadow);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  font-size: 9px;
  /* border: 3px solid transparent; */
}

.coke-cool,
.coke-violet,
.coke-yellow {
  padding: 13px;
}

.coke-violet {
  position: relative;
}

.sold-out {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  inset: 0;
  border-radius: 10px;
}

.sold-out img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.box-cola > *:not(:nth-child(3)) {
  margin-bottom: 6px;
}

.box-cola button {
  text-align: center;
  color: white;
  padding: 5px 15px;
  background: var(--point-color);
  border-radius: 20px;
  font-size: 12px;
}

.coke-red,
.coke-green,
.coke-orange {
  border: 3px solid var(--point-color);
}

.order-wrap {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.order-wrap > * {
  border-radius: 5px;
}

.balance,
.deposit,
.order-list {
  grid-column: span 2;
}

[class$="_btn"] {
  box-shadow: 0px 0px 4px var(--box-shadow);
  font-weight: 500;
}

.balance,
.money {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: var(--background-color);
}

.deposit {
  padding: 6px;
  border: 1px solid var(--border-color);
}

.deposit::placeholder {
  color: var(--border-color);
}

.number {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 14px;
}

.order-list {
  border: 1px solid var(--border-color);
  background: var(--background-color);
  overflow-y: scroll;
  padding: 12px;
  position: relative;
}

.order-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  background: white;
  border-radius: 5px;
  font-size: 9px;
  cursor: pointer;
}

.order-list li:not(:last-child) {
  margin-bottom: 6px;
}

.order-list li img {
  width: 18px;
  height: 33px;
}

.order-list_btn {
  background: var(--point-color);
  color: white;
  font-weight: 700;
}

.money-wrap {
  background: white;
}

.money {
  border-radius: 5px;
}

.menu-beverages {
  text-align: center;
}

.menu-beverages p:first-child {
  display: inline-block;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 14px;
}

.menu-beverages p:last-child {
  float: right;
  font-size: 12px;
  margin-top: 6px;
}

.menu-beverages button {
  width: 30px;
  height: 30px;
}

.beverages-list {
  border-radius: 5px;
}

.beverages-list li {
  display: flex;
  justify-content: flex-start;
}

.beverages-list li img {
  margin-right: 10px;
}

.beverages-list li button {
  margin-left: auto;
}

.beverages-list::after {
  content: "";
  width: 4px;
  height: 79px;
  background-color: white;
  position: absolute;
  top: 9px;
  right: 0px;
  border-radius: 50px;
}

/* splash-screen */
.splash-screen {
  position: absolute;
  inset: 0;
  background: var(--point-color) url(../img/splash-screen.svg) no-repeat center
    center;
  background-size: 50%;
  animation: disappear 2s ease-in-out forwards;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    /* html이 사라지진 않기에 JS 사용을 권함 */
    visibility: hidden;
  }
}

/* media */
@media (max-width: 500px) {
  body {
    background: white;
  }
  .menu-beverages p:last-child {
    margin-bottom: 43px;
  }
}
